@charset "utf-8";

body {
    background-color: white;
}

header {
    color: black;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgb(196, 195, 189);
    padding: 3px;
}

main {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;

}

main section {
    background-color: rgb(196, 195, 189);
    height: 90px;
    width: 90%;
    border: 1px solid red;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    
}

main section a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: 0;
    color: white;
    font-size: 20px;
}

main section a:hover {
    font-size: 100%;
    background-color: black;
    border-radius: 2px;
}

img {
    padding: 10px;
    width: 500px;
    height: 300px;
}

img :hover
